    h1 {
    text-align: center;
    color:black;
    
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    div.head{
    background-color:#ceffcf;
    width:90%;
    border: 5px dashed black;
    padding:10;
    }
    div.add_note{
    background-color:#f7e6ee;
    width:40%;
    border: 5px double black;
    padding:10;   
    }
    div.wrapper{
        width: 800px;
        border: none;
        overflow: none;
        }
    div.delete_block{
    background-color:#f7e6ee;
    width:30%; border:
    5px double black;
    padding:10;
    float:left;
    }
    div.theme{
    float:right;
    background-color:#f7e6ee;
    width:30%; 
    border:5px double black;
    padding:10;
    }
    div.download{
    float: center;
    background-color:#f7e6ee;
    width:20%; 
    border:5px double black;
    padding:10;   
    }
    body{
        background: url("images/2.jpeg");
        background-size: cover;
    }