h1 {
 text-align: center;
 color:black; 
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

div.head{
 background-color:#d8e7ff;
 width:90%;
 border: 5px dashed black;
 padding:10;
}

div.add_note{
 background-color:#d8e7ff;
 width:40%;
 border: 5px double black;
 padding:10;   
}

div.wrapper{
    width: 800px;
    border: none;
    overflow: none;
}
    
div.delete_block{
 background-color:#eaf2ff;
 width:30%; 
 border:5px double black;
 padding:10;
 float:left;
}

div.theme{
 float:right;
 background-color:#eaf2ff;
 width:30%; 
 border:5px double black;
 padding:10;
}

div.download{
 float: center;
 background-color:#d8e7ff;
 width:20%; 
 border:5px double black;
 padding:10;   
}

body{
    background: url("images/1.jpg");
    background-size: cover;
}