{% load static %}
<html>
<head><title>Theme Selection</title>
<link rel="stylesheet" type="text/css" href="{% static 'ledger/style_theme_page.css' %}" />
</head>
<body>
<div class="head">
<h1>Select Theme</h1>
</div>
<div class="select_block">
<form action="{% url 'ledger:change_theme' %}" method="post">
{% csrf_token %}
<input type="radio" name="selected_theme" value="style1" required>Theme 1<br><br>
<input type="radio" name="selected_theme" value="style2" required>Theme 2<br><br>
<input type="radio" name="selected_theme" value="style3" required>Theme 3<br><br>
<input type="submit" value="Submit">
</form> 
<form action="{% url 'ledger:index' theme %}">
<input type="submit" value="Back">
</form>
</div>
</body>
</html>