{% load static %}
<html>
<head><title>Theme Selection</title>
<link rel="stylesheet" type="text/css" href="{% static 'ledger/style_theme_page.css' %}" />
</head>
<body>
<div class="head">
<h1>Select Theme</h1>
</div>
<div class="select_block">
<form action="{% url 'ledger:change_theme' %}" method="post">
{% csrf_token %}
<input type="radio" name="selected_theme" value="1">Theme 1<br><br>
<input type="radio" name="selected_theme" value="2">Theme 2
<input type="submit" value="Submit">
</form> 
</div>
</body>
</html>